#toc-tree.hs-btn-i .hstree-has-children > .hstree-node-btn > i:before {
  color: #333;
}
#toc-tree.hs-btn-i .hstree-has-children > .hstree-node-btn:hover > i:before {
  color: #1cc4f7;
}
#popup-box {
  background-color: #2191c0;
  border-color: #77d5f7;
}
#popup-box.pos-bottom:before {
  border-bottom-color: #77d5f7;
}
#popup-box.pos-bottom:after {
  border-bottom-color: #2191c0;
}
#popup-box.pos-top:before {
  border-top-color: #77d5f7;
}
#popup-box.pos-top:after {
  border-top-color: #2191c0;
}
#popup-box .content {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
}
#popup-box .message {
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .hs-popuplink {
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .hs-popuplink:focus {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#popup-box .hs-popuplink:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#sorting-popup-menu {
  background-color: #2191c0;
  border-color: #77d5f7;
}
#sorting-popup-menu.pos-bottom:before {
  border-bottom-color: #77d5f7;
}
#sorting-popup-menu.pos-bottom:after {
  border-bottom-color: #2191c0;
}
#sorting-popup-menu.pos-top:before {
  border-top-color: #77d5f7;
}
#sorting-popup-menu.pos-top:after {
  border-top-color: #2191c0;
}
#sorting-popup-menu .menu-item {
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
  color: White;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  border-top-color: #77d5f7;
}
#sorting-popup-menu .menu-item:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-box .search-btn {
  background-color: transparent;
}
#search-box .search-btn:before {
  color: #222;
}
#toc-tree .hstree-node-cnt {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#toc-tree .hstree-node-title > a {
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node-title > a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node-title > a:focus {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#toc-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #6eac2c;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node-cnt {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#index-tree .hstree-node-title > a {
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree li.hs-highlight > .hstree-node-cnt .hstree-node-title > a {
  color: #026890;
  background-color: #79c9ec;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node-title > a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node > .hstree-node-cnt .hstree-node-title > a:focus {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#index-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #6eac2c;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form {
  border-bottom-color: #79c9ec;
}
#search-result-tree .hstree-node-cnt {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10pt;
}
#search-result-tree li.visited-topic > .hstree-node-cnt .hstree-node-title > a {
  color: Gray;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#search-result-tree .hstree-node-title > a {
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node-title > a:hover {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node > .hstree-node-cnt .hstree-node-title > a:focus {
  color: White;
  background-color: #0078ae;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result-tree .hstree-node.hstree-active > .hstree-node-cnt .hstree-node-title > a {
  color: White;
  background-color: #6eac2c;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-tabs-panel {
  background: url('images/tab-content.png?89a25da0') repeat-x center bottom #fcfdfd;
}
.text-label {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-result span.se-message {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
  color: #222;
  background-color: transparent;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
#tabs.ui-tabs .ui-tabs-nav {
  padding: 8px 0 0 4px;
}
#tabs .ui-widget-header {
  background: url('images/tabs-header.png?89a25da0') repeat-x center center #4f81bd;
  border-bottom-color: #4297d7;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0 2px 0 0;
}
#tabs.ui-tabs .ui-tabs-nav li .ui-tabs-anchor {
  padding: 6px 6px;
}
#tabs .ui-corner-top {
  border-radius: 2px 2px 0 0;
}
#tabs .ui-widget-header .ui-state-default {
  background: url('images/tab-regular.png?89a25da0') repeat-x center center #0078ae;
  border-color: #77d5f7;
}
#tabs .ui-widget-header .ui-state-hover {
  background: url('images/tab-active.png?89a25da0') repeat-x center center #79c9ec;
  border-color: #448dae;
}
#tabs .ui-widget-header .ui-state-active {
  background: url('images/tab-selected.png?89a25da0') repeat-x center center #6eac2c;
  border-color: #acdd4a;
}
#tabs .ui-tabs-nav {
  font-family: Verdana,Arial,sans-serif;
  font-size: 11px;
}
#tabs .ui-widget-header .ui-state-default a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-widget-header .ui-state-hover a {
  color: #026890;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tabs .ui-widget-header .ui-state-active a {
  color: White;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#tab-index #kwd-search, #search-form #search-box {
  border-color: #79c9ec;
}
#tab-index #kwd-search {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #222;
  background-color: #f8f8f8;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
#search-form #squery {
  font-family: Verdana,Arial,sans-serif;
  font-size: 13px;
  color: #222;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  background: none;
}
#search-form #search-box {
  background-color: #f8f8f8;
}